// < _mixin(나눈 픽셀로 미디어쿼리 만들기)파일 불러오기 >
@import "./mixin";

// < 브라우저 크기조절 하면서 background color 확인하기 >
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}



// 데스크탑
@include desktop {
	.visual {
        background-color: red;
        height: 500px;
    }
    
    .section {
    }
    
    .footer {
    }
}


// 노트북에서 데스크탑
@include desktopToLaptop {
	.visual {
        background-color: blue;
    }
    
    .section {
    }
    
    .footer {
    }
}


// 노트북
@include laptop {
	.visual {
        background-color: bisque;
    }
    
    .section {
    }
    
    .footer {
    }
}


// 태블릿에서 노트북
@include laptopToTablet {
	.visual {
        background-color: brown;
    }
    
    .section {
    }
    
    .footer {
    }
}


// 태블릿
@include tablet {
	.visual {
        background-color: darkblue;
    }
    
    .section {
    }
    
    .footer {
    }
}


// 모바일에서 태블릿
@include tabletToMobile  {
	.visual {
        background-color: darksalmon;
    }
    
    .section {
    }
    
    .footer {
    }
}


// 모바일
@include mobile  {
    .visual {
        background-color: darksalmon;
    }
    
    .section {
    }
    
    .footer {
    }
}