body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* width: 1300px; */
}

.tour-section-2 {
    width: 100%;
}

.tout-banner-container {
    position: relative;
    overflow: hidden;
    height: 200px; /* 배너 높이 조절 */
    margin-bottom: 20px; /* 각 배너 간격 조절 */
}

.left-banner, .left-banner-reverse {
    display: flex;
    animation: moveBanner 100s linear infinite;
}

.left-banner-reverse {
    display: flex;
    animation: moveBannerReverse 100s linear infinite;
}

.left-banner img, .left-banner-reverse img {
    width: 100px; /* 책 이미지 너비 조절 */
    height: auto; /* 자동으로 높이 설정 */
    margin: 0 10px; /* 이미지 간격 조절 */
}

@keyframes moveBanner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveBannerReverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

/* @media only screen and (max-width: 768px) {
    .left-banner, .left-banner-reverse {
        animation-duration: 4s;
    }
} */