
section {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.tour-memo-container {
	width: 100%;
	max-width: 1000px;
	min-height: 300px;
	border: 1px solid #4dac27;
	border-radius: 5px;
	background-color: #fff;
}

.tour-memo-button-area {
	display: flex;
}

.tour-memo-button-area button {
	width: 100%;
	padding: 10px 10px;
	border: 1px solid #4dac27;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #4dac27;
	color: #fff;
	opacity: 0.6;
}

.tour-memo-button-area button.active,
.tour-memo-button-area button:hover {
	opacity: 1;
}

.tour-memo-content {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.tab-img {
	width: 400px;
	text-align: center;
}

.tour-memo-content img {
	width: 200px;
	height: 200px;
}

.tab-text {
	width: 100%;
}

.hidden {
	display: none;
}
