/* ------------ */
/* ----공통부분---- */
/* ------------ */
html, body {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Orbit", sans-serif;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
  width: 1490px;
  height: 90px;
}
header p {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
header span {
  font-size: 1.5rem;
}


center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

/* ------------ */
/* ----lay out---- */
/* ------------ */

.main_layout {
  margin: 0 auto;
  width: 1450px;
  height: 800px;
  background-image: url(/doc/img/ggobugi.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;           
}

.board_table {
  margin: 0px auto;
  width: 1300px;
  border: none;
  table-layout: fixed;   
}

.board_table_body {
  width: 1300px;
  height: 100px;
  table-layout: fixed;  
}

.paging_layout {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  left: 150px;
  text-align: center;
  font-size: 1.5rem;
}

/* ------------ */
/* ----list---- */
/* ------------ */

.head_th_1 {
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.1);
}

.body_td_1 {
  width: 1300px;
  height: 120px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.text_cut_tit {
  width: 250px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.text_cut_con {
  width: 640px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page_btn {
  width: 70px;
  height: 40px;
  font-family: "Orbit", sans-serif;
  display: block;
  float: left ;
  border: none;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn_select {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.btn_hover:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn {
  width: 100px;
  height: 40px;
  margin: 0px 20px;
  font-family: "Orbit", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
  cursor: pointer;
}

/* ------------ */
/* ----insert---- */
/* ------------ */

.ins_textarea_1 {
  width: 513px;
  height: 610px;
  margin: 0 auto;
  font-family: "Orbit", sans-serif;
  font-size: 30px;
  text-align: center;
  border: none;
  resize: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.ins_textarea_2 {
  width: 770px;
  height: 610px;
  margin: 0 auto;
  font-family: "Orbit", sans-serif;
  font-size: 30px;
  text-align: center;
  border: none;
  resize: none;
  background-color: rgba(255, 255, 255, 0.3);
}

textarea:focus {
  outline: none;
}

.insert_err_layout {
  padding-top: 3px;
  padding-right: 344px;
  text-align: right;
}

.insert_err {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(194, 7, 7);
}

/* ------------ */
/* ----detail---- */
/* ------------ */

.body_td_2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  word-wrap: break-word;
}

.btn_1 {
  width: 100px;
  height: 40px;
  margin: 0px 20px;
  font-family: "Orbit", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
  cursor: pointer;
}

/* ------------ */
/* ----update---- */
/* ------------ */

.up_textarea_1 {
  width: 237px;
  margin: 0 auto;
  font-family: "Orbit", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: none;
  resize: none;
  background-color: transparent;
  text-align: center;
}

.up_textarea_2 {
  width: 623px;
  height: 600px;
  margin: 0 auto;
  font-family: "Orbit", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: none;
  resize: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.update_err_layout {
  padding-top: 7px;
  padding-right: 344px;
  text-align: right;
}

.update_err {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(194, 7, 7);
}

/* ------------ */
/* ----delete---- */
/* ------------ */

.body_td_3 {
  width: 1300px;
  height: 120px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.delete_btn {
  width: 100px;
  height: 40px;
  margin: 0px 20px;
  font-family: "Orbit", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
  cursor: pointer;
}



/*# sourceMappingURL=common.css.map */
