// < _mixin(나눈 픽셀로 미디어쿼리 만들기)파일 불러오기 >
@import "./mixin";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Orbit', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none
}

.container {
    width: 100%;
    height: 900px;    
}

.center_table {
    width: 1200px;
    height: 800px;
    margin: 20px auto;
    background-image: url(/miniboard/doc/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tbody td{
    text-align: center;
}