.productNav {
    background-color: rgb(4, 4, 102);
    color: #fff;
    font-size: 20px;
}

.nav2 {
    display: flex;
}

.productNavMenu {
    /* float: left; */
    margin: 20px;
}

.nav2Border {
    background-color: #fff;
    margin-top: 10px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
}

.cs_order_btn {
    display: flex;
}